{% extends 'main.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
        {% for sliders in slider %}
            <div class="single-hero-items set-bg" data-setbg="{{sliders.imageURL}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>{{sliders.title}}</span>
                            <h1>{{sliders.keywords}}</h1>
                            <p>{{sliders.description}}</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>{{sliders.type}} <span>{{sliders.sale_amount}}%</span></h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{{banner1.imageURL}}" alt="">
                        <div class="inner-text">
                            <h4>{{banner1.title}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{{banner2.imageURL}}" alt="">
                        <div class="inner-text">
                            <h4>{{banner2.title}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Clothings</li>
                            <li>HandBag</li>
                            <li>Shoes</li>
                            <li>Accessories</li>
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                    {% for wp in women_category %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{wp.imageURL}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'ProductView' id=wp.id %}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="#">
                                    <h5>{{wp.title}}</h5>
                                </a>
                                <div class="product-price">
                                    RS {{wp.now_price}}
                                    <span>RS {{wp.old_price}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->
    <!-- Latest Product section -->
<section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-10 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Latest Products</li>
                            
                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                    {% for latestproducts in latest_products %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{latestproducts.imageURL}} " width="300" height="400"  alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'ProductView' id=latestproducts.id %}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{latestproducts.category.title}}</div>
                                <a href="#">
                                    <h5>{{latestproducts.title}}</h5>
                                </a>
                                <div class="product-price">RS
                                   {{latestproducts.now_price}}
                                   
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-10 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Feature Products</li>
                            
                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                    {% for fproducts in feature_products %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{fproducts.imageURL}} " width="300" height="400"  alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'ProductView' id=fproducts.id %}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{fproducts.category.title}}</div>
                                <a href="#">
                                    <h5>{{fproducts.title}}</h5>
                                </a>
                                <div class="product-price">RS
                                   {{fproducts.now_price}}
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-10 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Best Selling Products</li>
                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                    {% for latestproducts in latest_products %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{latestproducts.imageURL}} " width="300" height="400"  alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{latestproducts.category.title}}</div>
                                <a href="#">
                                    <h5>{{latestproducts.title}}</h5>
                                </a>
                                <div class="product-price">RS
                                   {{latestproducts.now_price}}
                                    <span>$35.00</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-10 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Products On Sale</li>

                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                    {% for latestproducts in latest_products %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{latestproducts.imageURL}} " width="300" height="400"  alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{latestproducts.category.title}}</div>
                                <a href="#">
                                    <h5>{{latestproducts.title}}</h5>
                                </a>
                                <div class="product-price">RS
                                   {{latestproducts.now_price}}
                                    <span>$35.00</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Clothings</li>
                            <li>HandBag</li>
                            <li>Shoes</li>
                            <li>Accessories</li>
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                    {% for mp in men_category %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{mp.imageURL}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'ProductView' id=mp.id %}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="#">
                                    <h5>{{mp.title}}</h5>
                                </a>
                                <div class="product-price">
                                    RS {{mp.now_price}}
                                    <span>Rs {{mp.old_price}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->
>

    <!-- Latest Blog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all order over 99$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-2.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->


{% endblock %}