{% extends 'main.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <a><i></i>{{ category5.parent.title }}</a>
                        <span>{{ category5.title }}</span>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 order-1 order-lg-2">
                    <div class="product-list">
                        <div class="row">
                    
                        {% for prod in products3 %}
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="{{prod.imageURL}}" height="500" width="500" alt="">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li data-product={{prod.id}} data-action="add" class="w-icon active update-cart"><a href="#"><i class="icon_bag_alt "></i></a></li>
                                            <li class="quick-view"><a href="{% url 'ProductView' id=prod.id %}">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">{{prod.category.title}}</div>
                                        <a href="#">
                                            <h5>{{prod.title}}</h5>
                                        </a>
                                        <div class="product-price">
                                            RS {{prod.now_price}}
                                            <span>RS {{prod.old_price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            
                        </div>
                    </div>
                    <div class="loading-more">
                        <i class="icon_loading"></i>
                        <a href="#">
                            Loading More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
{% endblock %}